/* TOOLBAR */

.mail-toolbar {
    justify-self: start;
    grid-row: 2;
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.compose-btn {
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;
    transition: all 0.2s;
}

.compose-btn:hover {
    filter: invert(64%) sepia(15%) saturate(7464%) hue-rotate(355deg) brightness(87%) contrast(96%);
}

.compose-btn img {
    width: 30px;
    height: 30px;
}

.toolbar-btns div {
    padding: 5px;
}
.toolbar-btns div img {
    width: 30px;
    height: 30px;
}

.toolbar-btns {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

.toolbar-btns div {
    cursor: pointer;
    padding: 5px;
    gap: 10px;
    display: flex;
    align-items: center;
    transition: background-color 0.2s ease-in;
}

.compose-btn:hover {
    filter: invert(39%) sepia(100%) saturate(2591%) hue-rotate(328deg) brightness(102%) contrast(94%);
}

.inbox-btn:hover {
    filter: invert(64%) sepia(20%) saturate(5019%) hue-rotate(317deg) brightness(87%) contrast(101%);
}

.starred-btn:hover {
    filter: invert(75%) sepia(78%) saturate(732%) hue-rotate(325deg) brightness(104%) contrast(101%);
}

.sent-btn:hover {
    filter: invert(71%) sepia(76%) saturate(809%) hue-rotate(304deg) brightness(101%) contrast(105%);
}

.drafts-btn:hover {
    filter: invert(38%) sepia(99%) saturate(917%) hue-rotate(145deg) brightness(93%) contrast(101%);
}

.trash-btn:hover {
    filter: invert(47%) sepia(95%) saturate(6195%) hue-rotate(5deg) brightness(105%) contrast(104%);
}

/* TOOLBAR ACTIVE */

.compose-btn.active {
    filter: invert(39%) sepia(100%) saturate(2591%) hue-rotate(328deg) brightness(102%) contrast(94%);
}

.inbox-btn.active {
    filter: invert(64%) sepia(20%) saturate(5019%) hue-rotate(317deg) brightness(87%) contrast(101%);
}

.starred-btn.active {
    filter: invert(75%) sepia(78%) saturate(732%) hue-rotate(325deg) brightness(104%) contrast(101%);
}

.sent-btn.active {
    filter: invert(71%) sepia(76%) saturate(809%) hue-rotate(304deg) brightness(101%) contrast(105%);
}

.drafts-btn.active {
    filter: invert(38%) sepia(99%) saturate(917%) hue-rotate(145deg) brightness(93%) contrast(101%);
}

.trash-btn.active {
    filter: invert(47%) sepia(95%) saturate(6195%) hue-rotate(5deg) brightness(105%) contrast(104%);
}

.unread-msg {
    font-size: 0.8em;
    color: #6954c5;
}

.unread-container {
    width: 100%;
    box-shadow: 0px 0px 3px 0px #4b2ed3;
    background: linear-gradient(#c5cfe7, #b3c9f3);
}

.unread-percent {
    background: linear-gradient(#3e62b4, #3925e7);
    color: #fff;
    font-size: 0.8em;
    text-align: center;
}

@media screen and (max-width: 660px) {
    .mail-filter {
        flex-wrap: wrap;
    }
    .mail-toolbar {
        flex-wrap: wrap;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 8px;
    }
    .unread-container {
        display: none;
    }

    .compose-btn img {
        width: 20px;
        height: 20px;
    }

    .toolbar-btns {
        flex-direction: row;
        margin-top: 0px;
    }

    .toolbar-btns div img {
        width: 35px;
    }
}
